<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="unitaryfund/unitary.foundation"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxMzg1MTY4Nzk="
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOCEGZj84CkWc_"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_light"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
