---
export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    'md:min-h-above-the-fold mt-10 md:mt-0 flex flex-col md:text-lg md:ml-10 ',
    className,
  ]}>
  <slot />
</div>
