---
import Svg from '~/components/Util/Svg.astro';

export interface Props {
  url: string;
  href?: string;
  className?: string;
  arrow?: boolean;
  underline?: boolean;
}

const { url, href, className, arrow = true, underline = true } = Astro.props;

const buttonUrl = url || href;
---

<slot name="before" />
<a
  class:list={[
    'button-link font-bold relative text-lg md:text-xl flex max-w-fit no-underline',
    'paragraph:!m-0 direct-child:hover:bg-yellow-400',
    (underline || arrow) && 'uppercase font-mono',
    className,
  ]}
  href={buttonUrl}>
  {
    arrow && (
      <span
        class:list={[
          'mr-2 px-1 flex items-center text-2xl svg-path-child:fill-black',
          underline && 'border-solid border-b-4 border-b-yellow-400',
        ]}>
        <Svg name="arrow" />
      </span>
    )
  }
  <span class:list={[arrow && 'px-1', underline && 'border-solid border-b-4 border-b-yellow-400']}>
    <slot />
  </span>
</a>
<slot name="after" />
