<div
  class:list={[
    'flex flex-col justify-end my-20 text-[1.75rem] leading-8 font-manrope',
    '[&_mark]:-z-10 [&_mark]:relative',
    'sm:text-[3.2rem] sm:leading-[3.65rem]',
    'md:text-[2.6rem] md:leading-[3rem] md:mt-12 md:mb-18 md:flex-grow',
    'xl:text-[3.3rem] xl:leading-[3.8rem]',
    '2xl:text-[4rem] 2xl:leading-[4.2rem]',
  ]}>
  <slot />
</div>
