---
export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<div class="number-points">
  {
    title && (
      <h2 class="font-manrope normal-case md:ml-0 ml-4 font-bold text-xl md:text-2xl">{title}</h2>
    )
  }
  <slot />
</div>
<style lang="scss" is:global>
  .number-points {
    p {
      @apply mb-2 leading-snug;
    }

    ol {
      counter-reset: item;
      @apply flex flex-wrap leading-6 gap-x-3 text-lg md:pt-6 md:flex-nowrap relative bleed-border-b bleed-black;

      li {
        counter-increment: item;
        @apply px-3 pb-7 relative min-h-[200px] mt-8 border-solid border-l border-b-black border-b border-l-black text-base md:text-base md:flex-1 md:mt-0 lg:text-lg md:mb-0 md:min-h-[unset] md:border-b-0;

        &:first-child {
          @apply mt-5 md:mt-0;
        }

        &:before {
          @apply content-[counter(item)] absolute text-[14rem] font-bold -z-10 right-0 text-yellow-200 font-grotesk bottom-0 leading-[0.7] md:text-[22rem] md:left-[-0.5rem];
        }

        &:after {
          @apply block absolute left-[50%] w-screen translate-x-[-50%] bottom-[-1px] -z-10 box-border content-[''] border-solid border-b border-b-black md:border-b-0;
        }

        &:nth-child(2):before {
          @apply md:left-[-0.9rem];
        }
      }
    }

    h3 {
      @apply font-manrope normal-case font-bold;
    }
  }
</style>
