---
import Container from '~/components/Ui/Container.astro';
import Svg from '~/components/Util/Svg.astro';
import Navigation from './Header/Navigation.astro';
---

<Container className="sticky top-0 pr-0 mb-6 z-50">
  <div
    class="grid grid-cols-header grid-rows-header grid-areas-header pt-[--header-pt] md:nav-mobile-open:-mr-10 nav-mobile-open:bg-black">
    <div
      class:list={[
        'col-start-1 col-span-full row-start-1 h-[--header-pt] bg-yellow-400 -mt-[--header-pt] z-20',
        'max-lg:hidden nav-mobile:hidden',
      ]}>
    </div>
    <div
      class:list={[
        'max-h-[calc(var(--logo-height)+var(--header-pt))] col-start-1 w-0 row-start-1 row-span-full bleed-bg-l bleed-yellow-400 -mt-[--header-pt] z-20',
        'max-lg:hidden nav-mobile:hidden',
      ]}>
    </div>
    <div
      class:list={[
        'nav-desktop:max-h-[calc(var(--header-pt)*2+var(--navigation-row-height))] nav-mobile:max-h-[calc(var(--header-pt)*2)] col-start-3 w-0 row-start-1 row-span-full bleed-bg-r bleed-yellow-400 -mt-[--header-pt]',
        'max-lg:hidden nav-mobile:hidden',
      ]}>
    </div>
    <a
      href="/"
      class:list={[
        'h-[--logo-height-mobile] w-[--logo-width-mobile] svg-child:svg-scale-v grid-in-logo z-20 !filter-order-logo',
        'max-md:!-ml-6 lg:-ml-6',
        'md:h-[--logo-height] md:w-[--logo-width]',
        'nav-mobile:-ml-10 nav-mobile:h-[--logo-height-mobile] nav-mobile:w-[--logo-width-mobile]',
        'nav-mobile-open:invert nav-mobile-open:invert nav-mobile-open:saturate-0 nav-mobile-open:brightness-[0.8] nav-mobile-open:mix-blend-luminosity',
      ]}>
      <Svg name="logo" />
    </a>
    <Navigation
      className={[
        'grid-in-nav grid grid-areas-navigation grid-cols-navigation h-full w-full border-t-yellow-400 border-t-[length:--header-pt]',
        'nav-desktop:grid-rows-navigation-desktop',
        'nav-mobile:grid-rows-navigation-mobile nav-mobile:overflow-hidden',
      ]}
    />
  </div>
</Container>
