<div style="background-color: #f1f1f1; padding: 20px; text-align: center;">
  <h1>We are now Unitary Foundation!
    <a href='https://unitary.foundation/posts/2025_unitary_foundation/'>Read more on our blog!</a></h1>
</div>
